@import "./scss/image";

* {
  margin: 0;
  padding: 0%;
}
.main-container {
  background: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-container {
  padding-left: auto;
  padding-right: auto;
}
h1 {
  font-size: 3.5rem;
  color: orange;
  margin-top: 2.5rem;
  padding: 2rem;
}
video {
  padding-top: 2.5rem;
}
h4 {
  color: white;
  font-size: 2.135rem;
  padding: 2.5rem;
}
.spn {
  padding: 1rem;
}
p {
  font-size: 1.2rem;
  color: green;
  width: 600px;
  text-align: left;
  padding-bottom: 2.5rem;
  line-height: 1.875rem;
}
@media screen and (max-width: 500px) {
  .main-container {
    width: 100vw;
  }
  h1 {
    font-size: 2rem;
  }
  video {
      width: 24.375rem;
  }
  p {
      width: 24.375rem;
  }
}
